/* Estilos básicos */
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --color-fondo: #4d588b
    ; /* Fondo oscuro #8a8ad7*/
    --color-primaria: #1a1e37; /* Azul profundo #97d0f1*/
    --color-secundaria: #120907
    ; /* Rojo vibrante #9772d2*/
    --color-hover: #ffffff; /* Cian brillante */
    --color-texto: #dedede; /* Texto claro */
    --color-shadow: rgba(0, 255, 212, 0.3); /* Sombra suave */

    --fuente-krona: 'Krona One', sans-serif; /* Fuente para encabezados */
    --fuente-montserrat: 'Montserrat', sans-serif; /* Fuente para texto */

    --spacing-small: 10px; /* Espaciado pequeño */
    --spacing-medium: 20px; /* Espaciado medio */
    --spacing-large: 40px; /* Espaciado grande */
    
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*body {
    font-family: var(--fuente-montserrat);
    background-color: var(--color-fondo);
    color: var(--color-texto);
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Aumentar el mínimo a 100vh para cubrir toda la pantalla */
  /*  line-height: 1.6;
/*}
/*

/* Aplica el fondo en el cuerpo del documento */
body {
    font-family: var(--fuente-montserrat);
    background: var(--color-fondo); /* Imagen de fondo */
    background-size: cover; /* Ajusta el tamaño para que cubra toda la pantalla */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que se repita */
    color: var(--color-texto);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    line-height: 1.6;

    margin: 0; /* Remover márgenes por defecto */
    padding-top: 0px; /* Asegúrate de que el contenido comience debajo del menú */
}


/* Asegurar que las letras no varíen su posición */
body, h1, h2, h3, p {
    font-size: 1rem; /* Tamaño de fuente fijo para evitar cambios */
    font-family: var(--fuente-montserrat);
    letter-spacing: 0.05em; /* Espaciado entre letras */
}
/* Opcional: Aplicar un ajuste para todas las etiquetas que contengan texto */
* {
    box-sizing: border-box; /* Asegura que el tamaño del padding y borde se incluyan en el tamaño total */
}

/* Estilos del menú */

header.navbar {
    padding: var(--spacing-small) 3%; /* Espaciado en el navbar */
    background: linear-gradient(90deg, var(--color-texto), var(--color-hover));
    display: flex;
    align-items: center; /* Alinear en el centro */
    /*position: fixed; /* Mantiene el menú en la parte superior */
    /*top: 0; /* Posición en la parte superior */
    left: 0; /* Asegura que ocupe todo el ancho */
    width: 100%; /* Tomar el 100% del ancho */
    z-index: 1000; /* Asegura que el menú esté en un nivel superior */
    box-shadow: 10px 2px 4px rgba(57, 57, 57, 0.5);
}

header.navbar nav {
    
    display: flex; /* Asegúrate de que el menú sea un flex container */
    justify-content: center; /* Centra los elementos del menú */
    width: 100%; /* Tomar el 100% del ancho */
}

header.navbar img {
    
    max-width: 170px; /* Reducir el tamaño de la imagen */
    object-fit: contain; /* Ajusta la imagen al contenedor sin distorsionarla */
    margin-right: var(--spacing-medium); /* Espaciado a la derecha de la imagen */
}

header nav ul {
    
    list-style: none;
    display: flex;
    gap: var(--spacing-medium);
    /*background-color: rgba(144, 94, 94, 0.9); */
    /*border-radius: 10px; */
   /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); */
    padding: var(--spacing-small);
    margin: 0; /* Remover el margen para evitar desalineaciones */
    
}

header nav ul li a {
    
    color: var(--color-primaria);
    font-family: var(--fuente-krona); 
    font-size: 1rem; /* Reducir el tamaño de la fuente */
    text-transform: uppercase;
    text-decoration: none;
    transition: color 0.3s ease, transform 0.3s ease;
    padding: var(--spacing-small); /* Espaciado alrededor del texto */
    border-radius: 5px; /* Bordes redondeados */
}


/*link logos*/
.social-icons {
    display: flex;
    justify-content: center; /* Centra los íconos horizontalmente */
    align-items: center; /* Alinear verticalmente los íconos */
    flex-grow: 1; /* Permite que el contenedor crezca y ocupe el espacio disponible */

}

.social-icon {
    display: inline-block; /* Asegura que los iconos se muestren en línea */
    margin-right: var(--spacing-medium); /* Espaciado a la derecha de la imagen */
}

.social-icon img {
    width: 3cqh; /* Ajusta el tamaño del icono según sea necesario */
    height: auto; /* Mantiene la proporción */
    transition: transform 0.3s ease; /* Efecto de transición */
}

.social-icon:hover img {
    transform: scale(1.1); /* Efecto de zoom al pasar el mouse */
}

/* Para evitar margen extra en el último icono */
.social-icon:last-child {
    margin-right: 0; /* Remover margen en el último icono */
}


/* Estilos para la sección de Visión, Misión y Valores de manera didáctica */
.vision-mision-didactica {
    padding: var(--spacing-large) 5%;
    background-color: var(--color-fondo);
    text-align: center;
}

.vision-mision-didactica .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.vision-mision-didactica .card {
    background-color:#6777b0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    padding: 20px;
    margin: 20px;
    transition: transform 0.3s;
}

.vision-mision-didactica .card:hover {
    transform: translateY(-10px);
}

.vision-mision-didactica .card-icon img {
    width: 60px;
    height: 60px;
    margin-bottom: 15px;
}

.vision-mision-didactica .card-content h3 {
    font-family: var(--fuente-krona);
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: var(--color-hover);
}

.vision-mision-didactica .card-content p, .vision-mision-didactica .card-content ul {
    font-family: var(--fuente-montserrat);
    font-size: 1rem;
    text-align: justify;
    line-height: 1.6;

}

.vision-mision-didactica .card-content ul {
    list-style: none;
    padding: 0;
    text-align: left;
}

.vision-mision-didactica .card-content ul li {
    margin-bottom: 10px;
    text-align: justify;
}

.vision-mision-didactica .card-content ul li strong {
    color: var(--color-hover);
}






/* ESTILO SERVICE */

.services {
    padding: var(--spacing-large); /* Espaciado alrededor de la sección */
    text-align: center;            /* Centrar el texto */
}

.service-container {
    display: flex;                 /* Usar flexbox */
    flex-wrap: wrap;              /* Permitir que los elementos se envuelvan */
    justify-content: center;       /* Centrar los elementos horizontalmente */
}

.service-block {
    display: flex;                 /* Flex para el contenido interno */
    flex-direction: column;        /* Colocar contenido en columna */
    align-items: center;           /* Centrar el contenido */
    width: calc(25% - 40px);      /* Ancho de los bloques */
    margin: 20px;                 /* Espaciado entre bloques */
    border: 1px solid #ccc;       /* Borde del bloque */
    border-radius: 10px;          /* Bordes redondeados */
    padding: var(--spacing-medium); /* Espaciado interno */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra para un efecto de profundidad */
    transition: transform 0.3s ease; /* Efecto de transformación al pasar el ratón */
}

.service-block img {
    width: 100%; /* La imagen ocupará el ancho completo del bloque */
    height: 300px; /* Altura fija para todas las imágenes */
    object-fit: cover; /* Recorta la imagen si es necesario para ajustarse */
    border-radius: 10px; /* Bordes redondeados para todas las imágenes */
}

.service-block h3 {
    /* margin: 10px 0;               /* Margen para el título */
     /* font-size: 1.2rem;            /* Tamaño del texto del título */
     color: var(--color-texto);
     font-size: 1.4rem;
    margin: 0.5rem 0; /* Añadir márgenes uniformes arriba y abajo */
    font-weight: bold; /* Resaltar el título */
}

.service-block p {
    /* font-size: 1rem;              /* Tamaño del texto del párrafo */

    font-size: 1.0rem;
    line-height: 1.5; /* Ajustar el espacio entre líneas */
    color: #000000; /* Color de texto más suave para el párrafo */
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    text-align: justify; /* Se agrego 21.10.2024 */ 

}

/* Efecto al pasar el ratón */
.service-block:hover {
    transform: translateY(-5px);  /* Levantar el bloque al pasar el ratón */
}

/* Responsividad */
@media (max-width: 1200px) {
    .service-block {
        width: calc(33.33% - 40px); /* 3 bloques en pantallas medianas */
    }
}

@media (max-width: 900px) {
    .service-block {
        width: calc(50% - 40px); /* 2 bloques en pantallas más pequeñas */
    }
}

@media (max-width: 600px) {
    .service-block {
        width: 100%; /* 1 bloque en pantallas pequeñas */
    }
}

@media (max-width: 390px) {
    /* Ajustes para el cuerpo del documento */
    body {
        padding: var(--spacing-small);
    }

    /* Ajuste del menú de navegación */
    header.navbar nav ul {
        flex-direction: column; /* Cambiar a columna para pantallas pequeñas */
        gap: var(--spacing-small); /* Reducir el espacio entre enlaces */
        padding: var(--spacing-small); /* Asegurar suficiente espacio en móviles */
    }

    /* Ajuste del tamaño de la imagen del logo */
    header.navbar img {
        max-width: 40px; /* Ajustar el tamaño del logo para pantallas más pequeñas */
    }

    /* Ajustes de los servicios */
    .service-block {
        width: 100%; /* Un bloque por fila en pantallas pequeñas */
        margin-bottom: var(--spacing-medium);
    }

    /* Ajuste de los textos del servicio */
    .service-block h3 {
        font-size: 1.2rem; /* Reducir el tamaño del título en móviles */
    }

    .service-block p {
        font-size: 0.9rem; /* Reducir el tamaño del párrafo en móviles */
    }

    /* Ajustes del slider */
    .banner-slider {
        height: 300px; /* Reducir la altura del banner en móviles */
    }

    .slide img {
        width: 100%; /* Asegurar que las imágenes ocupen el ancho completo en móviles */
        height: 300px; /* Ajustar la altura de las imágenes */
    }

    .banner-text {
        font-size: 0.8rem; /* Reducir el tamaño del texto del banner */
        padding: 5px;
    }

    /* Ajustes para la sección de visión y misión */
    .vision-mision-didactica .card {
        width: 100%; /* Cada tarjeta ocupa el ancho completo */
        margin-bottom: var(--spacing-medium);
    }

    /* Ajustes para los íconos sociales */
    .social-icons {
        flex-direction: column; /* Colocar los íconos en columna en pantallas pequeñas */
        gap: var(--spacing-small); /* Reducir el espacio entre íconos */
    }

    .social-icon img {
        width: 40px; /* Ajustar el tamaño de los íconos sociales en móviles */
    }
}



/* Estilos para el banner */
.banner-slider {
    position: relative;
    width: 100%;
    height: 60vh; /* Ajusta la altura a tu gusto */
    overflow: hidden;
    object-fit: cover; /* Hace que la imagen se recorte adecuadamente sin perder proporción */
    object-position: center;
}

.slides {
    display: flex;
    width: 300%; /* 100% por cada slide (3 imágenes = 300%) */
    transition: transform 0.5s ease-in-out;
}

.slide {
    width: 100%;

    position: relative;
    flex-shrink: 0;
}

.slide img {
    width: 50%;
    height: auto; /* Ajusta la altura de las imágenes */
    max-height: 400px; /* Limita la altura máxima */
    object-fit: cover;
}

.banner-text {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    color: white;
    padding: 10px;
    border-radius: 5px;
    max-width: 90%; /* Asegúrate de que el texto no se salga de la pantalla */
    box-sizing: border-box; /* Incluye padding en el tamaño total */
}
/*boton banner*/
.prev-button, .next-button {
    position: absolute;
    top: 10%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 0.8rem;
    cursor: pointer;
   /* padding: 10px; */
   /*padding: 5px 8px; /* Reduce el padding */

   padding: 5px; /* Padding igual para que sea cuadrado */
    width: 40px; /* Ancho fijo para que sean cuadrados */
    height: 40px; /* Altura fija para que sean cuadrados */
    border-radius: 50%; /* Bordes redondeados para un efecto circular */
}

.prev-button {
    left: 5%;
}

.next-button {
    right: 5%;
}
/* Agregamos animación de opacidad para las imágenes */
.slide {
    opacity: 0;
    transition: opacity 0.8s ease-in-out;
}

.slide.active {
    opacity: 1;
}




.banner-text h2 {
    margin: 0;
    font-size: 2vw; /* vw para que sea responsivo */
}

.banner-text p {
    margin: 5px 0 0;
    font-size: 1.5vw; /* Cambia a vw para que sea responsivo */
}

/* Media Queries para ajustes adicionales */
@media (max-width: 768px) {
    .banner-text h2 {
        font-size: 4vw; /* Ajustar tamaño del texto para pantallas más pequeñas */
    }
    
    .banner-text p {
        font-size: 3vw; /* Ajustar tamaño del texto para pantallas más pequeñas */
    }

    .prev-button, .next-button {
        font-size: 0.8rem; /* Ajustar tamaño del texto de los botones */
        padding: 4px 8px; /* Ajustar el padding de los botones */
    }
}

@media (max-width: 480px) {
    .banner-text {
        padding: 5px; /* Reducir padding para dispositivos muy pequeños */
    }
    
    .prev-button, .next-button {
        font-size: 0.7rem; /* Ajustar tamaño del texto de los botones */
        padding: 3px 6px; /* Ajustar el padding de los botones */
    }
}


@media (max-width: 480px) {
    .banner-text {
        padding: 5px; /* Reducir padding para dispositivos muy pequeños */
    }
    
    .prev-button, .next-button {
        font-size: 0.8rem; /* Ajustar tamaño del texto de los botones */
        padding: 3px 6; /* Ajustar el padding de los botones */
        top: 10%; /* Ajustar posición vertical para que no choquen */
    }

    /* Reducir la altura del banner en pantallas muy pequeñas */
    .banner-slider {
        height: 30vh; /* Disminuir altura del banner */
    }
}






/* Efecto hover en los enlaces del menú */

header nav ul li a:hover {
    color: var(--color-hover);
    transform: scale(1.05); /* Efecto de escalado al pasar el mouse */
    background-color: rgba(255, 255, 255, 0.1); /* Fondo ligero al pasar el mouse */
}

/* Efecto Neón en el menú móvil */
.menu-toggle {
    display: none;
    color: var(--color-texto);
    font-size: 2rem;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.menu-toggle:hover {
    transform: rotate(10deg); /* Rotación ligera al pasar el mouse */
}

/* Mostrar el menú al pasar el mouse sobre el ícono */
.menu-toggle:hover + nav ul {
    display: flex; /* Mostrar el menú */
}

/* Media query para dispositivos móviles */
@media (max-width: 768px) {
    header.navbar nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 70px;
        left: 0;
        background-color: var(--color-primaria);
        z-index: 1;
    }

    header.navbar nav ul li {
        text-align: center;
        padding: var(--spacing-small);
        border-bottom: 1px solid var(--color-secundaria);
    }

    header.navbar .menu-toggle {
        display: block;
    }

    header.navbar nav ul.active {
        display: flex;
    }
}



/* Flexbox para imágenes */
.image-flex {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: var(--spacing-medium);
    margin: var(--spacing-large) 0;
}

.circle-image {
    width: 120px; /* Reducir el tamaño de las imágenes circulares */
    height: 120px;
    border-radius: 50%;
    border: 4px solid var(--color-hover);
    box-shadow: 0 4px 12px var(--color-shadow);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.circle-image:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 16px var(--color-shadow);
}

/* Estilos de Sección */
.about-us h1, .services h2, .gallery h2, .contact h2 {
    font-family: var(--fuente-krona);
    font-size: 2rem;
    text-align: center;
    margin-bottom: var(--spacing-medium);
    color: var(--color-hover);
    text-transform: uppercase;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Sombra de texto */
}

.about-us p, .services ul, .contact p, .contact form {
    font-family: var(--fuente-montserrat);
    color: var(--color-texto);
    text-align: justify;
    padding: 0 15%; /* Espaciado horizontal para mejorar la legibilidad */
}

/* Estilos de contacto */
.contact {

    padding: var(--spacing-large) 15%; /* Añadir espaciado en la sección de contacto */
}

.contact form {
    display: flex;
    flex-direction: column; /* Hacer el formulario en columna */
}

.contact label {
    margin-bottom: var(--spacing-small); /* Espaciado entre etiquetas y campos */
    font-weight: bold;
}

.contact input, .contact textarea {
    padding: var(--spacing-small);
    margin-bottom: var(--spacing-medium);
    border: 1px solid var(--color-hover);
    border-radius: 5px;
    background-color: transparent; /* Fondo transparente */
    color: var(--color-texto);
}

.contact button {
    align-self: flex-start; /* Alinear el botón a la izquierda */
}
.contact h2 {
    text-align: center; /* Asegura que el texto esté centrado */
    margin-bottom: var(--spacing-medium); /* Añadir espacio por debajo */
    color: var(--color-hover); /* Mantén el color */
    font-family: var(--fuente-krona); /* Fuente Krona One */
    font-size: 2rem; /* Ajustar el tamaño de la fuente */
    text-transform: uppercase; /* Texto en mayúsculas */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Sombra para el texto */
    margin-left: auto;
    margin-right: auto; /* Asegura que el contenedor esté centrado */
    width: fit-content; /* Ajusta el ancho del contenedor al texto */
}
/* Botones con Efecto Neón CONTACTAR */
button {
 
    /*background-color: var(--color-secundaria);
    color: var(--color-texto);
    border: none;
    padding: var(--spacing-small) var(--spacing-medium);
    font-family: var(--fuente-krona);
    font-size: 1rem;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 20px; /* Ajusta este valor para modificar el redondeo */
    /*box-shadow: 0 0 10px var(--color-hover), 0 0 20px var(--color-hover), 0 0 30px var(--color-hover);
    transition: background-color 0.3s ease, box-shadow 0.3s ease; */
    width: 200px; /* Ancho fijo */
    height: 50px; /* Alto fijo */
    font-size: 1rem; /* Tamaño de fuente fijo */
    font-family: var(--fuente-montserrat);
    background-color: var(--color-primaria); /* Color de fondo */
    color: var(--color-texto); /* Color del texto */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    text-align: center; /* Centrar el texto */
    display: inline-block; /* Asegura que se comporten como bloques en línea */
    
    transition: background-color 0.3s ease, transform 0.3s ease;
}


button:hover {
    /*background-color: var(--color-hover);
    box-shadow: 0 0 15px var(--color-hover), 0 0 25px var(--color-hover), 0 0 35px var(--color-hover); */
    background-color: var(--color-secundaria); /* Cambio de color al hacer hover */
    transform: scale(1.05); /* Efecto de escala en hover */
}
/* Controlar el espaciado y evitar variaciones por el contenido */
button p {
    margin: 0;
    padding: 0;
    text-align: center;
    white-space: nowrap; /* Evitar que el texto haga un salto de línea */
    overflow: hidden; /* Esconder texto desbordado si es necesario */
    text-overflow: ellipsis; /* Añadir puntos suspensivos si el texto es muy largo */
}
/* Alineación de botones en un contenedor */
.button-container {
    display: flex; /* Utiliza flexbox para la alineación */
    justify-content: center; /* Centra los botones horizontalmente */
    gap: 20px; /* Espacio entre los botones */
    margin-top: var(--spacing-large); /* Espaciado superior */
}






/* Footer con íconos de redes sociales */
footer {
    background: linear-gradient(90deg, var(--color-primaria), var(--color-secundaria));
    color: var(--color-texto);
    text-align: center;
    padding: var(--spacing-medium) 0;
    font-family: var(--fuente-krona);
    font-size: 1rem;
    position: relative;
    box-shadow: 1 -2px 4px rgba(233, 233, 233, 0.5); /* Sombra más sutil en la parte superior del footer */
}

footer .social-media {
    display: flex;
    justify-content: center;
    gap: var(--spacing-small);
    margin-top: var(--spacing-medium);
}

footer .social-media a {
    color: var(--color-texto);
    font-size: 1.5rem;
    transition: color 0.3s ease, box-shadow 0.3s ease;
}

footer .social-media a:hover {
    color: var(--color-hover);
    box-shadow: 0 0 10px var(--color-hover), 0 0 15px var(--color-hover);
}

