:root {
    --color-fondo: #ffffff
    ; /* Fondo oscuro #8a8ad7*/
    --color-primaria: #1a1e37; /* Azul profundo #97d0f1*/
    --color-secundaria: #120907;
    --color-S: #7a7a7a;
    --color-A: #b9b9b9
    ; /* Rojo vibrante #9772d2*/
    --color-hover: #ffffff; /* Cian brillante */
    --color-texto: #000000; /* Texto claro */
    --color-shadow: rgba(0, 255, 212, 0.3); /* Sombra suave */

    --fuente-krona: 'Krona One', sans-serif; /* Fuente para encabezados */
    --fuente-montserrat: 'Montserrat', sans-serif; /* Fuente para texto */

    --spacing-small: 10px; /* Espaciado pequeño */
    --spacing-medium: 20px; /* Espaciado medio */
    --spacing-large: 40px; /* Espaciado grande */
    
}



/* Estilo para el botón */
button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1rem;
    margin-top: 20px; /* Espacio superior para que no tape el título */
    align-self: center; /* Centra el botón horizontalmente en su contenedor */
}
button.back-button {
    margin-bottom: 40px; /* Ajusta el valor según sea necesario */
}


/* Estilos para asegurar que el contenido se vea bien */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    min-height: 100vh; /* Para que el contenido ocupe al menos la altura completa de la pantalla */
    display: flex;
    flex-direction: column;
}

/* Contenedor principal */
main {
    flex: 1; /* Hace que el main ocupe todo el espacio disponible */
    padding: 20px;
    text-align: justify; /* Justifica el texto en el contenido principal */
}

/* Contenedor principal */
.main-content {
    display: flex;
    flex-direction: column; /* Apilar elementos verticalmente */
    align-items: center; /* Centrar contenido horizontalmente */
    width: 100%;
}

/* Contenedor de contenido principal */
.content-container {
    max-width: 800px; /* Ancho máximo del contenido */
    margin: 20px; /* Espaciado alrededor */
    text-align: center; /* Alinear texto al centro */
}

/* Estilo para la galería de imágenes */
.image-gallery {
    display: flex;
    flex-wrap: wrap; /* Permitir que las imágenes se envuelvan si no caben */
    justify-content: center; /* Centrar las imágenes */
    gap: 20px; /* Espacio entre imágenes */
    margin-top: 20px; /* Espaciado superior */
}

/* Estilo para cada imagen de la galería */
.gallery-image img {
    width: 400px; /* Ancho fijo */
    height: 700px; /* Alto fijo */
    object-fit: cover; /* Ajustar la imagen sin distorsionar */
    border-radius: 15px; /* Esquinas redondeadas */
    transition: transform 0.3s; /* Efecto de hover */
}
/* Efecto de hover */
.gallery-image img:hover {
    transform: scale(1.05); /* Ampliar ligeramente la imagen */
}

/* Ajustes responsivos para dispositivos móviles */
@media (max-width: 768px) {
    .image-gallery {
        flex-direction: column; /* Apilar imágenes verticalmente */
    }

    .gallery-image img {
        max-width: 90%; /* Hacer las imágenes más pequeñas en pantallas móviles */
        height: auto; /* Mantener la proporción */
    }
}


/* Opcional: Mejora visual general */
body {
    margin: 0;
    font-family: 'Arial', sans-serif; /* Tipografía profesional */
    background-color: #f8f9fa; /* Fondo suave */
    color: #333; /* Texto oscuro */
}





/* Footer siempre al fondo */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

/* Header */
/* Estilo del encabezado */
header {
    background: linear-gradient(90deg, #cbcbcb, #727272); /* Colores más suaves y modernos para el degradado */
    padding: 25px 20px; /* Aumentar el padding para más espacio */
    text-align: center; /* Centrar el texto */
    position: relative; /* Permitir posicionar elementos dentro del flujo */
    border-radius: 10px; /* Bordes redondeados para un acabado más suave */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Agregar sombra sutil para profundidad */
}

/* Estilo para el título */
h1 {
    color: #ffffff; /* Blanco brillante para contraste */
    margin: 0;
    font-size: 3rem; /* Tamaño adecuado para visibilidad */
    font-family: 'Poppins', sans-serif; /* Fuente moderna y profesional */
    font-weight: 700; /* Negrita para mayor impacto */
    text-transform: uppercase; /* Mayúsculas para estilo consistente */
    letter-spacing: 2px; /* Espaciado entre letras para mejor legibilidad */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Sombra sutil para mayor contraste y legibilidad */
}

/* Efecto de botón (si decides agregar un botón) */
header .cta-button {
    margin-top: 20px; /* Separar el botón del título */
    padding: 15px 30px; /* Asegurar que el botón sea cómodo de ver */
    font-size: 1.2rem; /* Tamaño de texto apropiado */
    color: white; /* Texto blanco */
    background-color: #1E88E5; /* Color destacado para el botón */
    border: none;
    border-radius: 5px; /* Bordes redondeados para suavizar el diseño */
    cursor: pointer; /* Hacer el botón interactivo */
    transition: background-color 0.3s ease; /* Transición suave al pasar el cursor */
}

/* Efecto hover para el botón */
header .cta-button:hover {
    background-color: #4CAF50; /* Cambiar el color de fondo al pasar el ratón */
}


/* Agrega este nuevo contenedor para título y botón */
.title-button-container {
    display: flex; /* Usa flexbox para alinear elementos */
    flex-direction: column; /* Alinea en columna */
    align-items: center; /* Centra horizontalmente */
    margin-bottom: 20px; /* Espacio debajo de la sección del título */
}

section h2 {
    font-size: 1.8rem; /* Título secundario */
    margin: 20px 0 10px; /* Espacio alrededor */
    text-align: justify; /* Justifica el texto del título */
}

section h3 {
    font-size: 1.5rem; /* Tamaño grande para destacar */
    margin: 20px 0; /* Espaciado superior e inferior */
    text-align: center; /* Centrar el texto */
    color: #333; /* Color elegante y legible */
    font-weight: bold; /* Texto en negrita */
    font-family: 'Poppins', sans-serif; /* Fuente moderna y profesional */
    text-transform: uppercase; /* Convertir el texto a mayúsculas */
    letter-spacing: 2px; /* Espaciado entre letras */
    position: relative; /* Para el subrayado decorativo */
}

section h3::after {
    content: ""; /* Elemento decorativo */
    position: absolute; 
    width: 60px; /* Longitud de la línea decorativa */
    height: 4px; /* Grosor de la línea */
    background-color: #696969; /* Color destacado (puedes cambiarlo) */
    bottom: -5px; /* Posición debajo del texto */
    left: 50%; /* Centrar la línea */
    transform: translateX(-50%); /* Ajustar para que quede perfectamente centrado */
    border-radius: 2px; /* Bordes redondeados para un acabado más limpio */
}

/* Estilo para el título h1 dentro de la sección #about */
#about h1 {
    font-size: 1.5rem; /* Tamaño grande para destacar */
    margin: 20px 0; /* Espaciado superior e inferior */
    text-align: center; /* Centrar el texto */
    color: #333; /* Color elegante y legible */
    font-weight: bold; /* Texto en negrita */
    font-family: 'Poppins', sans-serif; /* Fuente moderna y profesional */
    text-transform: uppercase; /* Convertir el texto a mayúsculas */
    letter-spacing: 2px; /* Espaciado entre letras */
    position: relative; /* Para el subrayado decorativo */
}

/* Línea decorativa debajo del título */
#about h1::after {
    content: ""; /* Elemento decorativo */
    position: absolute; 
    width: 60px; /* Longitud de la línea decorativa */
    height: 4px; /* Grosor de la línea */
    background-color: #696969; /* Color destacado (puedes cambiarlo) */
    bottom: -5px; /* Posición debajo del texto */
    left: 50%; /* Centrar la línea */
    transform: translateX(-50%); /* Ajustar para que quede perfectamente centrado */
    border-radius: 2px; /* Bordes redondeados para un acabado más limpio */
}

section p {
    font-size: 1rem;
    line-height: 1.6;
    margin: 10px 0;
    text-align: justify; /* Justifica el texto del párrafo */
}

/* Estilos para la galería de imágenes */
.image-gallery {
    display: flex; /* Alinear imágenes en una fila */
    justify-content: center; /* Centra el contenido horizontalmente */
    margin: 20px 0; /* Espaciado superior e inferior para la galería */
    flex-wrap: wrap; /* Permite que los elementos se ajusten en filas múltiples */
}

.gallery-slides {
    display: flex; /* Alinea los elementos en una fila */
    flex-wrap: wrap; /* Permite que las imágenes se ajusten */
    justify-content: center; /* Centra el contenido */
    flex-direction: row; /* Por defecto, las imágenes están en fila */
}

.gallery-slide {
    
    flex: 1 1 calc(25% - 40px); /* Se ajusta a 25% del ancho del contenedor con margen */

    position: relative; /* Permite que los elementos secundarios se posicionen en relación con este */
    margin: 10px; /* Espacio entre las imágenes */
    max-width: 300px; /* Tamaño máximo */
    transition: transform 0.3s ease, opacity 0.3s ease; /* Transiciones suaves */
    flex: 1 1 calc(33.333% - 20px); /* Ocupa 1/3 del ancho del contenedor con margen */
}

.gallery-slide img {
    
    width: 100%; /* Ajusta el tamaño de las imágenes según sea necesario */
    height: 100px; /* Mantiene la proporción de la imagen */
    border-radius: 8px; /* Bordes redondeados */

    object-fit: cover; /* Ajusta la imagen al tamaño del contenedor */
}

/* Efecto de hover en las imágenes */
.gallery-slide:hover {
    transform: scale(1.1); /* Aumenta el tamaño de la imagen al pasar el mouse */
    opacity: 0.9; /* Cambia la opacidad al pasar el mouse */
}

.gallery-text {
    position: absolute; /* Posiciona el texto encima de la imagen */
    bottom: 10px; /* Espacio desde el fondo */
    left: 10px; /* Espacio desde la izquierda */
    color: white; /* Color del texto */
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    padding: 5px; /* Espaciado interno */
    border-radius: 4px; /* Bordes redondeados para el fondo */
    transition: opacity 0.3s ease; /* Transición suave para la opacidad del texto */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra para darle profundidad */
}

.gallery-slide:hover .gallery-text {
    opacity: 1; /* Mantiene la opacidad del texto al pasar el mouse */
}

.footer-section {
    text-align: center; /* Centra el texto en el pie de página */
    margin-top: 20px; /* Espaciado superior */
}

/* Media Queries para Responsividad */
@media (max-width: 768px) {
    h1 {
        font-size: 1.5rem; /* Tamaño más pequeño en pantallas pequeñas */
    }

    section h2 {
        font-size: 1.5rem; /* Tamaño más pequeño en pantallas pequeñas */
    }

    section h3 {
        font-size: 1.2rem; /* Tamaño más pequeño en pantallas pequeñas */
    }

    section p {
        font-size: 1rem; /* Tamaño más pequeño en pantallas pequeñas */
    }

    .gallery-slides {
        
        flex-direction: auto; /* Cambia a vertical en pantallas más pequeñas */
        align-items: center; /* Centra las imágenes */
    }

    .gallery-slide img {
        
        width: 100%; /* Ocupar todo el ancho disponible AQUIII ES MODIFICAR */
        max-width: 100%; /* Elimina el límite de tamaño máximo */
        height: auto; /* Mantener proporciones */
        object-fit: cover; /* Ajusta la imagen al tamaño del contenedor */


        
        
    }
    
    button {
        font-size: 0.8rem; /* Tamaño de fuente más pequeño para el botón */
        padding: 8px 10px; /* Menos padding para el botón */
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.2rem; /* Tamaño aún más pequeño en pantallas muy pequeñas */
    }

    section h2 {
        font-size: 1.2rem; /* Tamaño aún más pequeño en pantallas muy pequeñas */
    }

    section p {
        font-size: 0.9rem; /* Tamaño aún más pequeño en pantallas muy pequeñas */
    }


    button {
        font-size: 0.8rem; /* Tamaño de fuente más pequeño para el botón */
        padding: 8px 10px; /* Menos padding para el botón */
    }
    
.image-gallery {
    display: flex; /* Alinear imágenes en una fila */
    justify-content: center; /* Centra el contenido horizontalmente */
    margin: 20px 0; /* Espaciado superior e inferior para la galería */
    flex-wrap: wrap; /* Permite que los elementos se ajusten en filas múltiples */
}

.gallery-slides {
    display: flex; /* Alinea los elementos en una fila */
    flex-wrap: wrap; /* Permite que las imágenes se ajusten */
    justify-content: center; /* Centra el contenido */
    flex-direction: row; /* Por defecto, las imágenes están en fila */
}

.gallery-slide {
    position: relative; /* Permite que los elementos secundarios se posicionen en relación con este */
    margin: 10px; /* Espacio entre las imágenes */
    transition: transform 0.3s ease, opacity 0.3s ease; /* Transiciones suaves */
}

.gallery-slide img {
    width: 300px; /* Ajusta el tamaño de las imágenes según sea necesario */
    height: auto; /* Mantiene la proporción de la imagen */
    border-radius: 8px; /* Bordes redondeados */
}



}
/* Estilos del Lightbox */
.lightbox {
    display: none; /* Oculto por defecto */
    position: fixed;
    z-index: 999; /* Asegúrate de que aparezca sobre todo */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    
    background-color: rgba(0,0,0,0.9); /* Fondo oscuro */
}

.lightbox-content {
    margin: auto;
    /*display: block; */
    display: flex;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; 
    /* Adapta la imagen para llenar el contenedor sin fondo vacío */
}

.close {
    position: absolute;
    top: 10px;
    right: 25px;
    color: white;
    font-size: 35px;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.content-container {
    
    
   /* border: 3px solid #ebe5eb; /* Borde del contenedor */
    border-radius: 20px; /* Bordes redondeados */
    padding: 40px; /* Espaciado interno */
    margin: 20px auto; /* Espaciado superior e inferior y centrado */
    max-width: 800px; /* Ancho máximo del contenedor */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra para darle profundidad */
}






/* PRESENTACION MANTENIMIENTO/*

/* Pantalla de introducción */
.intro-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(120deg, #ffffff, #ffffff);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

#typed-text {
    font-size: 2.5em; /* Tamaño del texto */
    color: rgb(255, 255, 255); /* Verde típico de consola */
    font-family: 'Courier New', Courier, monospace; /* Fuente tipo consola */
    text-align: center; /* Centrar el texto */
    background-color: #000000; /* Fondo negro como una consola */
    padding: 15px; /* Espaciado interno */
    border-radius: 10px; /* Bordes redondeados (opcional) */
    box-shadow: 0 0 15px rgba(145, 145, 145, 0.5); /* Efecto de brillo */
    opacity: 0; /* Inicialmente invisible */
    animation: fadeInText 3s forwards; /* Animación para que aparezca */
    display: inline-block; /* Para ajustar al contenido */
    overflow: hidden; /* Evita desbordamiento del texto */
    position: relative; /* Posición relativa para el cursor */
}

#typed-text::after {
    content: "|"; /* Cursor */
    font-weight: bold;
    animation: blink 0.8s step-end infinite; /* Parpadeo del cursor */
    color: rgb(255, 255, 255); /* Mismo color que el texto */
    position: absolute;
    right: 0; /* Ubicado al final del texto */
}

@keyframes fadeInText {
    to {
        opacity: 1; /* El texto se vuelve visible */
    }
}

@keyframes blink {
    50% {
        opacity: 0; /* Cursor desaparece temporalmente */
    }
}

/* Texto central en la pantalla de introducción */
@keyframes fadeInText {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Transición al contenido principal */
#content {
    opacity: 0;
    transition: opacity 2s ease-in-out;
}

.service-list {
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se ajusten en filas */
    gap: 20px; /* Espaciado entre servicios */
    justify-content: center; /* Centra los servicios en el contenedor */
    margin-top: 20px;
}

.service-item {
    background: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 15px;
    text-align: center;
    width: 250px; /* Ancho fijo para uniformidad */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.service-item:hover {
    transform: translateY(-5px); /* Efecto de elevación */
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.service-item img {
    width: 60px; /* Tamaño uniforme de iconos */
    height: auto;
    margin-bottom: 10px;
}

.service-item h4 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #333;
}

.service-item p {
    font-size: 1rem;
    line-height: 1.5;
    color: #666;
}
.service-description p {
    margin-top: 30px; /* Espacio superior entre párrafos */
    margin-bottom: 10px; /* Espacio inferior entre párrafos */
}